<main>
    <div class="post">
        <div class="post-owner">
            <img src="https://picsum.photos/50" alt="">
            <div>
                <p>{{question.question}}</p>
                <small>3 mins ago</small>
            </div>
            <div>
                <mat-icon>bookmark_border</mat-icon>
            </div>
        </div>
        <div class="post-content">
            <h1>{{question.title}}</h1>
            {{question.question}}
        </div>
        <div class="post-actions">
            <section>{{question.question.length}}</section>
        </div>
    </div>
    <div class="replies">
        <input type="text" placeholder="add a reply">
        <div class="reply"></div>
    </div>
</main>