
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <section>
        <div class="container" id="container">
                
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Eduflow</h1>
                        <p>Eduflow is the largest, most trusted online community for students to learn, share their knowledge, and build their careers..</p>
                    </div>
                </div>
            </div>

            <div class="form-container log-in-container">
                <form action="#">
                    <h1>Signup</h1>
                    <br>
                    <input type="text" placeholder="Username" />
                    <input type="text" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <input type="password" placeholder="Confirm Password" />
                    <br>
                    <button>sign up</button>
                   
                    <p>Already have an account? <a href="/login">Login</a></p>
                   
                </form>
            </div>

        </div>
    </section>
    