main{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.headline{
    font-size: 6rem;
    color: white;
    text-align: center;
}

.left{
    padding: 1rem 3rem;
    width: 50vw;
    background: linear-gradient(to right, #FF4B2B, #FF416C);;
}

.right{
    width: 50vw;
    align-self: center;
    text-align: center;
}

.right img{
    width: 50%;
}

article{
    padding: 3rem;
    color: white;
}

article h1{
    font-weight: 300;
    margin-bottom: 3rem;
}

button{
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
}

.auth-buttons{
    /* text-align: center; */
    margin: 0 2.5rem;
}

.auth-buttons h1{
    color: white;
    font-weight: 400;
    margin-left: 1rem;
}

.purpose{
    margin: 3rem 0;
    line-height: 2.5;
}


.purpose h2{
    margin-left: 1rem;
    font-weight: 400;
}

.purpose > div{
    display: flex;
    align-items: center;
}