<main>
    <div class="left">
        <h1 class="headline">EduFlow</h1>

        <article>
            <h1>
            Eduflow is the largest, most trusted online 
            community for students to learn, share their knowledge, 
            and build their careers..
            </h1>

            <div class="purpose">
                <div>
                    <mat-icon>check_circle_outline</mat-icon>
                    <h2>post quesions</h2>
                </div>
                <div>
                    <mat-icon>check_circle_outline</mat-icon>
                    <h2>contribute to discussions</h2>
                </div>
                <div>
                    <mat-icon>check_circle_outline</mat-icon>
                    <h2>connect with smart people</h2>
                </div>
            </div>
        </article>

        <div class="auth-buttons">
            <h1>Join Us Today!</h1>
            <button mat-button color="accent" style="background-color: salmon; color: white">
                <a href="/login" style="color: white">login</a>
            </button>
            
            <button mat-button color="accent" style="background-color: salmon; color: white">
                <a href="/signuh2" style="color: white">sign up</a>
            </button>
        </div>
        
    </div>
    <div class="right">
        <img src="../../../../assets/svgs/welcome.svg" alt="welcome">
        
    </div>
</main>